.comment {
  display: flex;
  gap: 1rem;
}

.comment + .comment {
  margin-top: 1.5rem;
}

.comment .avatar {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 8px;
}

.comment .comment_column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}

.comment_column .comment_box {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--gray-700);
}

.comment_box .comment_box_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.comment_box_top .author_and_time {
  line-height: 1.4rem;
  display: flex;
  flex-direction: column;
}

.author_and_time strong {
  color: var(--gray-100);
  font-size: 0.875rem;
}

.author_and_time time {
  color: var(--gray-400);
  font-size: 0.75rem;
}

.comment_box_top .trash {
  background-color: transparent;
  border: none;
  color: var(--gray-400);
  line-height: 0;
  cursor: pointer;
}

.comment_box_top .trash:hover {
  color: var(--red-500);
}

.comment_box .comment_box_content {
  color: var(--gray-300);
  line-height: 1.4rem;
}

.comment_box_content p {
  margin-top: 1rem;
}

.comment_column .like_button {
  color: var(--gray-400);
  display: flex;
  align-items: center;
}

.like_button button {
  background-color: transparent;
  border: none;
  color: var(--gray-400);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
  transition: all 0.1s;
}

.like_button button:hover {
  color: var(--green-500);
}
